.homebutton {
  position: fixed;
  margin: 5px;
  bottom: 2%;
  right: 2%;
  background-image: url("../../home-icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 75px;
  height: 75px;
  opacity: 0.5;
  z-index: 100001;
}

.container {
  width: 70vw;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}