.navbutton {
  position: fixed;
  margin: 5px;
  bottom: 2%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 110px;
  height: 110px;
  opacity: 0.5;
  z-index: 100001;
}
.home {
  right: 2%;
  left: unset;
  background-image: url("../../home-button.png");
}

.container {
  width: 90vw;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 1px auto;
}

body {
  background-color: #393E46;
  font-family: 'Lobster', cursive;
}

h1 {
  margin: 4vmin;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7vmin;
  color: #4ECCA3;
}

p {
  font-size: 8vmin;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 5px auto 1px auto;
}

img {
  width: 35vmin;
  margin: 2vmin;
}

footer {
  margin-top: 5vmin;
  margin-bottom: 1vmin;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.8rem;
}